/* @keyframes animacionImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    padding-top: 40%;
  }
  to {
    opacity: 1;
    padding-top: 0%;
  }
}

.tabla {
  height: auto;
  width: 90%;
  margin: auto;
  display: table;
  margin-top: 5px;
  margin-bottom: 30px;
}

.fila {
  width: 100%;
  height: auto;
  display: table-row;
}

.celda {
  border: 1px solid white;
  height: auto;
  width: auto;
  text-align: center;
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  background-color: #b2e6d4;
  padding: 10px;
  font-size: 14pt;
}

.encabezado {
  position: sticky;
  top: 6vh;
  background-color: #528879;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}

.titulo {
  text-align: center;
  font-size: 40pt;
  /* animation: slideInDown;
  animation-duration: 1s;
  animation-iteration-count: 1; */
  /* color: white; */
  /* background-color: steelblue; */
  width: 30%;
  margin: auto;
  margin-top: 8vh;
  /* border-radius: 10px; */
  padding-top: 3px;
  padding-bottom: 3px;
}

.foto {
  border-radius: 10%;
  /* animation: animacionImg;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1; */
  box-shadow: 1px 1px 20px 0px #689689;
}

/* .flecha {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  animation: none;
  border-radius: 100%;
}

.flecha:hover {
  opacity: 0.5;
} */
