body {
  margin: 0px;
  padding: 0px;
}

.table {
  height: auto;
  width: 80%;
  display: table;
  margin: auto;
  margin-bottom: 70px;
  border-spacing: 15px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.rowT {
  width: 100%;
  height: auto;
  display: table-row;
  padding: auto;
}

.colT {
  /* border: 1px solid gray; */
  border-radius: 5%;
  height: 100%;
  width: 20%;
  display: table-cell;
  margin: auto;
  padding: auto;
  background-color: #b2e6d4;
}

.todo img {
  margin: 0px;
  vertical-align: top;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 100%;
  height: auto;
}

.imgContainer {
  width: 100%;
  height: 10%;
}

h1 {
  margin: auto;
  margin-top: 8vh;
  font-size: 40pt;
  text-align: center;
}

.todo h2 {
  margin-left: 10%;
  margin-bottom: 2%;
}

.todo h4 {
  font-weight: bolder;
  color: #504136;
}

.todo h4,
p {
  margin: 10px;
  /* position: relative; */
}

.todo a {
  text-decoration: none;
  color: black;
}
