/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap%27");

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 40%;
  }
  to {
    opacity: 1;
    margin-top: 0%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: Times New Roman; */
}

.todo {
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

html {
  scroll-behavior: smooth;
  /* font-weight: 600; */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  background-color: #f9f7f3;
}

a {
  text-decoration: none;
}

.center {
  align-items: center;
  justify-content: center;
}
.expand-1 {
  flex-grow: 1;
}
.expand-2 {
  flex-grow: 2;
}
.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flecha {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  animation: none;
  border-radius: 100%;
}

.flecha:hover {
  opacity: 0.5;
}

.hr {
  width: 30vw;
  text-align: center;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 5px;
  background-color: #504136;
}
